.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 40px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 50%;
  }

  .bg{
    background-image: url('/bg.jpg');
  }
  input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    border: 2px solid;
    border-radius: 4px;
  }

